{% extends "../layouts/default.twig" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
				<h2>DINOSAUR</h2>
				<iframe height='500' scrolling='no' title='Chrome Dinosaur Animation' src='//codepen.io/nickspiel/embed/bNdBPr/?height=504&theme-id=1&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/nickspiel/pen/bNdBPr/'>Chrome Dinosaur Animation</a> by Nick Spiel (<a href='http://codepen.io/nickspiel'>@nickspiel</a>) on <a href='http://codepen.io'>CodePen</a>.</iframe>
			</div>
		</div>
	</div>
{% endblock %}
